/*TABLE OF CONTENTS*/
/*REUSEABLE*/
/*TOP CONTAINER*/
/*BOTTOM CONTAINER*/
/*MEDIA QUERIES*/

/*REUSEABLE*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.top-container {
  display: flex;
  justify-content: center;
  background-color: #e5f3f2;
  height: 215px;
}

.top-org {
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

h1,
h3,
.quality {
  font-family: "Roboto Slab";
}

input,
button,
p,
#quality-text {
  font-family: "Open Sans";
}

/*TOP CONTAINER*/
.top-container {
  display: flex;
  height: 220px;
  justify-content: center;
  background-color: #e5f3f2;
}

.top-org {
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  text-align: center;
  margin: 18px 0 18px 0;
  color: #00a79d;
  font-size: 40px;
}

.h1-box {
  color: #6d6e71;
}

input,
.save-btn {
  display: block;
  height: 26px;
  margin: auto;
  width: 500px;
  font-size: 15px;
}

input {
  margin-bottom: 14px;
  padding-left: 5px;
  border: 1.5px solid #dbd9d9;
}

input::placeholder {
  color: #dbd9d9;
}

input:focus {
  outline-color: #00a79d;
  outline-style: auto;
}

.save-btn {
  background-color: #00a79d;
  border: none;
  color: #fff;
}

.save-btn:hover {
  background-color: #045e55;
}

/*BOTTOM CONTAINER*/

.search-form {
  padding-bottom: 12px;
}

.search-form {
  padding-bottom: 12px;
}

.search {
  display: block;
  height: 26px;
  margin: auto;
  margin-top: 20px;
  width: 500px;
  border: 1.5px solid #dbd9d9;
  font-size: 15px;
}

.search::placeholder {
  color: #dbd9d9;
}

.card {
  position: relative;
  display: block;
  margin: auto;
  margin-top: 18px;
  width: 500px;
  border-bottom: 1px solid #d1d3d4;
  height: 125px;
}

.card-title {
  display: block;
  margin-bottom: 12px;
  color: #6d6e71;
}

.delete {
  position: absolute;
  top: 4px;
  left: 480px;
  display: inline-block;
  float: right;
  height: auto;
  width: 22px;
  float: right;
}

.card-text {
  display: inline-block;
  margin-bottom: 50px;
  font-size: 14px;
  color: #939598;
  /*overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;*/
}

.quality {
  position: absolute;
  top: 86px;
  left: 80px;
  display: inline-block;
  margin-bottom: 24px;
  font-size: 14px;
  color: #6d6e71;
}

.up-vote,
.down-vote {
  height: auto;
  margin-right: 8px;
  width: 22px;
}

.up-vote {
  position: absolute;
  top: 86px;
  left: 0;
}

.down-vote {
  position: absolute;
  top: 86px;
  left: 40px;
}

/*MEDIA QUERIES*/
@media (max-width: 770px) {
/*for some reason this is cutting at 962*/
  h1 {
    margin: 8px 0 8px 0;
    font-size: 34px;
  }

  input,
  .save-btn {
    width: 300px;
  }

  input {
    margin-bottom: 8px;
    padding-left: 5px;
  }

  .search {
    width: 300px;
  }

  #idea-info {
    height: 75px;
  }

  .card {
    width: 300px;
    height: 140px;
  }

  .delete {
    left: 281px;
  }

  .up-vote,
  .down-vote {
    top: 105px;
  }

  .quality {
    top:105px;
    padding-bottom: 50px;
  }
}
