/*TABLE OF CONTENTS*/
/*REUSEABLE*/
/*TOP CONTAINER*/
/*BOTTOM CONTAINER*/
/*MEDIA QUERIES*/

/*REUSEABLE*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h3,
.quality {
  font-family: "Roboto Slab";
}

input,
button,
p,
#quality-text {
  font-family: "Open Sans";
}

/*TOP CONTAINER*/
.top-container {
  display: flex;
  height: 220px;
  justify-content: center;
}

.top-org {
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 1;
  overflow: visible;
  position: fixed;
  width: 100%;
  background-color: #e5f3f2;
}

h1 {
  text-align: center;
  margin: 18px 0 18px 0;
  color: #00a79d;
  font-size: 40px;
}

.h1-box {
  color: #6d6e71;
}

input,
textarea,
.save-btn {
  display: block;
  height: 26px;
  margin: auto;
  width: 500px;
  font-size: 15px;
}

.save-btn {
  margin-bottom: 26px;
}

input,
textarea {
  margin-bottom: 14px;
  padding-left: 5px;
  border: 1.5px solid #dbd9d9;
  color: #6d6e71;
  outline-color: #00a79d;
}

input::placeholder,
textarea::placeholder {
  color: #dbd9d9;
}

input:focus
textarea:focus {
  outline-color: #00a79d;
  outline-style: auto;
}

.save-btn {
  background-color: #6d6e71;
  border: none;
  color: #fff;
  outline: none;
}

.save-btn:hover {
  background-color: #045e55;
}

/*BOTTOM CONTAINER*/
.bottom {
  overflow: scroll;
}

.search-form {
  padding-bottom: 12px;
}

.search-form {
  padding-bottom: 12px;
}

.search {
  display: block;
  height: 26px;
  margin: auto;
  margin-top: 20px;
  width: 500px;
  border: 1.5px solid #dbd9d9;
  font-size: 15px;
}

.search::placeholder {
  color: #dbd9d9;
}

.card {
  position: relative;
  display: block;
  height: 150px;
  margin: auto;
  margin-top: 18px;
  width: 500px;
  border-bottom: 1px solid #d1d3d4;
}

.card-title {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  margin-bottom: 12px;
  color: #6d6e71;
}

.delete {
  background-image: url(assets/delete.svg);
  position: absolute;
  top: 4px;
  left: 480px;
  display: inline-block;
  float: right;
  height: 22px;
  width: 22px;
}

.delete:hover {
  background-image: url(assets/delete-hover.svg);
}

.card-text {
  position: absolute;
  top: 35px;
  left: 0;
  display: inline-block;
  font-size: 14px;
  color: #939598;
  overflow: scroll;
  hyphens: auto;
  height: 56px;
}

.quality {
  position: absolute;
  top: 105px;
  left: 80px;
  display: inline-block;
  margin-bottom: 24px;
  font-size: 14px;
  color: #6d6e71;
}

.up-vote,
.down-vote {
  height: 22px;
  margin-right: 8px;
  width: 22px;
}

.up-vote {
  background-image: url(assets/upvote.svg);
  position: absolute;
  top: 105px;
  left: 0;
}

.up-vote:hover {
  background-image: url(assets/upvote-hover.svg);
}
.down-vote {
  background-image: url(assets/downvote.svg);
  position: absolute;
  top: 105px;
  left: 40px;
}

.down-vote:hover {
  background-image: url(assets/downvote-hover.svg);
}

/*MEDIA QUERIES*/
@media (max-width: 770px) {
  .top-org {
    position: static;
  }

  .bottom {
    overflow: auto;
  }

  h1 {
    margin: 8px 0 8px 0;
    font-size: 34px;
  }

  input,
  textarea,
  .save-btn {
    width: 300px;
  }

  input,
  textarea {
    margin-bottom: 8px;
    padding-left: 5px;
  }

  .search {
    width: 300px;
  }

  #idea-info {
    height: 75px;
  }

  .card {
    width: 300px;
    height: 140px;
  }

  .delete {
    left: 281px;
  }

  .up-vote,
  .down-vote {
    top: 105px;
  }

  .quality {
    top:105px;
    padding-bottom: 50px;
  }
}
