* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-container {
  display: flex;
  justify-content: center;
  background-color: #e5f3f2;
  height: 210px;
}

.top-org {
  /*width: 60%;*/
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

h1,
h3,
.quality {
  font-family: "Roboto Slab";
}

input,
button,
p {
  font-family: "Open Sans";
}

h1 {
  color: #00a79d;
  text-align: center;
  font-size: 40px;
  margin: 16px 0 16px 0;
}

.h1-box {
  color: #6d6e71;
}

input,
.save-btn {
  display: block;
  margin: auto;
  width: 500px;
  height: 26px;
  font-size: 16px;
}

input {
  margin-bottom: 14px;
}

input:focus {
  outline-color: #00a79d;
  outline-style: auto;
}

.save-btn {
  background-color: #00a79d;
  color: #fff;
  border: none;
}

.save-btn:hover {
  background-color: #045e55;
}

/*BOTTOM CONTAINER*/

.bottom-container {
  /*display: flex;*/
}

.search {
  display: block;
  margin: auto;
  width: 500px;
  height: 26px;
  margin-top: 20px;
  margin-bottom: 24px;
  /*flex-wrap: wrap;*/
}

.card {
  display: block;
  margin: auto;
  /*flex-wrap: wrap;
  justify-content: center;
  align-items: center;*/
  width: 500px;
  border-bottom: 1px solid #d1d3d4;
}

.card-title {
  color: #6d6e71;
  display: inline-block;
  margin-bottom: 12px;
}

.delete {
  display: inline-block;
  width: 22px;
  height: auto;
}

.card-text {
  color: #939598;
  display: inline-block;
  font-size: 14px;
  margin-bottom: 12px;
}

.quality {
  color: #6d6e71;
  display: inline-block;
  margin-bottom: 24px;
}
/*
button {
  display: inline-block;
}*/

.up-vote,
.down-vote {
  width: 22px;
  height: auto;
}
